@{
    ViewData["Title"] = "Home Page";
    string error_mess = (string)TempData["error_mess"];
    int brojac = 0;
}
@model List<ToDoList.Model.Models.Notification>






    <div id="headBox">

        <div id="smallHeadBox2">
            <a href="/Authentification/LogOut">
                <img id="logOut"
                     src="https://storage.googleapis.com/opswat-marketing/www.opswat.com/images/icons/user_icon.png" /><br />
                <label style="color:black;">Log out</label>
            </a>
        </div>
    </div>


    <div id="textMenu">

        <div id="textHeader">ALL TASKS - TEST WEB APP</div>

        <div id="filterBox" style="display:block; margin-top:10%;">

            <div id="filBox1">
                <div class="filBoxic">
                    <strong style="color:darkblue;">TO DO Search</strong><br />
                    <input type="text" id="todoSearch" placeholder="Type something" />
                </div>

                <div class="filBoxic">
                    <strong style="color:darkblue;">TO DO date from</strong><br />
                    <input type="date" id="todoDateSearch" onchange="getUsers()" placeholder="Pick a date" />
                </div>
            </div>
            <div id="filBox2">

                <div class="filBoxic">
                    <strong style="color:darkblue;">TO DO date to</strong><br />
                    <input type="date" id="todoDateSearchTo" onchange="getUsers()" placeholder="Pick a date" />
                </div>

                <div class="filBoxic">
                    <strong style="color:darkblue;">TO DO Status</strong>
                    <select id="todoStatusSearch" style="color:#36304a; width:200px;" name="VrijemeID" class="form-control input-md" onchange="getUsers()">
                        <option style="color:#36304a;" value="">Pick a status</option>
                        <option style="color:#36304a;" value="Completed">Completed</option>
                        <option style="color:#36304a;" value="In progress">In progress</option>
                    </select>
                </div>
            </div>




        </div>


        <div id="text-Area">

        </div>

    </div>


    <div id="modalBox">
        <div id="modal">
           
            <form action="~/Home/SaveToDo"   method="post" name="myForm">
                <div>
                    <label class="labelBox">TO DO Title: </label>
                    <div>
                        <input class="inputBox" placeholder="Type the title" name="title" required />
                    </div>
                </div>

                <div>
                    <label class="labelBox">TO DO Description: </label>
                    <div>
                        <input class="inputBox" placeholder="Type your description" name="desc" required />
                    </div>
                </div>

                <input id="btnIdAdd" onclick="checkModal()" type="submit" style="margin-top:5%;" class="form-control btn btn-primary" value="Add TO DO" />

                <button  onclick="checkModal()" style="margin-top:5%;" class="form-control btn btn-danger">Close</button>

            </form>
        </div>
    </div>


    <script>

     @foreach (var item in Model)
    {
                if (item.StatusOfNotification == false)
        {
            ++brojac;
        }
    }

    if ('@brojac' != 0)
    {
        document.getElementById("brNotif").innerHTML = '@brojac';
        document.getElementById("brNotif").style.backgroundColor = "orange";
    }


    if ('@error_mess'.length > 1)
    {
        alert('@error_mess');
    }


        function checkModal()
        {
            if (document.getElementById('modalBox').style.visibility == 'visible') {
                document.getElementById('modalBox').style.visibility = 'hidden';
                document.getElementById('modalBox').style.opacity = '0';
            }
            else {
                document.getElementById('modalBox').style.visibility = 'visible';
                document.getElementById('modalBox').style.opacity = '1';
            }
        }


    </script>
