@model List<ToDoList.Model.Models.Notification>







<div class="text-Area">


    @if (Model.Any())
    {

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Title</td>
                </tr>
                }
            </tbody>
        </table>

    }


</div>